<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059826310483-d69ocohatqu28k4su9l9if8ul88rnprc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059826310483-d69ocohatqu28k4su9l9if8ul88rnprc</string>
	<key>API_KEY</key>
	<string>AIzaSyCupWOjgad-IaWWKnLOVa8pH4kevyUhkbM</string>
	<key>GCM_SENDER_ID</key>
	<string>1059826310483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futureworks.marvel</string>
	<key>PROJECT_ID</key>
	<string>marvel-4bb67</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-4bb67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059826310483:ios:be2cb2169311d27a8195a6</string>
</dict>
</plist>